header {
    background-color: #212A3E;
}

.logo-img {
    width: 100%
}

.company-logo {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.company-logo span {
    background-color: #189e5a;
    padding: 0px 5px 0px 0px;
    border-radius: 0.6rem;
    color: #212A3E;
}
.nav-menu{
    align-items: center;
}
.nav-menu a{
    color: #fff;
    padding: 1.6rem 1rem;
    text-transform: uppercase;
}
.nav-menu a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}